.App {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.quiz {
    text-align: center;
}

.quiz-question-stem {
    font-size: 10rem;
    line-height: normal;
}

.quiz-continue {
    margin-top: 1em;
}

#github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
}
